html {
  height: 100%;
}

body {
  margin: 0;
}
/*Image CSS*/
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}
/*Heading CSS*/
h1 {
  font-family: sans-serif;
  font-size: 32px;
}
/*The following is the css code for my animation background. it uses 3 different colours, rotates them on an angle and allows them to slide over one another creating the animation effect*/
.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #0000A0 50%, 	#800080 50%);
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
}

.content {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.25em;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  left: 50%;
  padding: 10vmin;
  position: fixed;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

/*The following code shows how the colours are visible over one another*/
@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}
/*Banncr CSS*/
.banner {
  border: 5px outset #800080;
  background-color: #0000A0;
  color: white;
  text-align: center;
}

/*Login Button CSS*/
.btnLogin {
  background-color: #0000A0;
  border: 4px solid #ADD8E6;
  border-radius: 16px;
  color: white;
  padding: 18px 64px;
  text-align: center;
  font-size: 24px;
  margin: 20px 400px;
  transition: 0.7s;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
/*Button CSS when hovering over with the mouse*/
.btnLogin:hover {
  background-color: black;
  border: 4px solid #fffaf0;
  color: white;
}
/*Sign Up Button CSS*/
.btnSignUp {
  background-color: orange;
  border: 4px solid yellow;
  border-radius: 16px;
  color: white;
  padding: 18px 64px;
  text-align: center;
  font-size: 24px;
  margin: 20px 400px;
  transition: 0.7s;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
/*Button CSS when hovering over with the mouse*/
.btnSignUp:hover {
  background-color: black;
  border: 4px solid #fffaf0;
  color: white;
}

/*Button CSS*/
.btnGuest {
  background-color: green;
  border: 4px solid #4caf50;
  border-radius: 16px;
  color: white;
  padding: 18px 64px;
  text-align: center;
  font-size: 24px;
  margin: 20px 400px;
  transition: 0.7s;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/*Button CSS when hovering over with the mouse*/
.btnGuest:hover {
  background-color: black;
  border: 4px solid #fffaf0;
  color: white;
}